{% extends "admin/item.html" %}

{% block content %}
    {% block item_header %}{{ super() }}{% endblock %}

    <div id="{{ type }}" class="parent item">
        {% include "admin/_edit_item_form.html" %}
    </div>

    {% block children_block %}
        <div class="children">
            {% block children %}
                {% for name, objs in children.items() %}
                    <div class="child">
                        <h2>{{ name|humanize }}s</h2>
                        <form action="{{ name }}Orders/" method="post">
                            <ul id="{{ name }}-itemList" class="items">
                                {% for c in objs %}
                                    <li id="{{ c|key }}">
                                        <span class="handle" title="Drag to sort"></span>
                                        <a href="{{ admin.prefix }}/{{ name }}/{{ c|key }}/" title="{{ c|id }}">{{ c }}</a>
                                    </li>
                                {% else %}
                                    <li class="empty">None</li>
                                {% endfor %}
                            </ul>
                            <p class="help">Drag and drop {{ name|humanize }}s to sort them.</p>
                        </form>
                        <p id="{{ name }}-add-button" class="add">Add new {{ name|humanize }}s</p>

                        <div id="{{ name }}" class="new child item">
                            <h2>Add a {{ name|humanize|lower }} to this {{ type|humanize|lower }}</h2>
                            <form method="post" action="" id="{{ name }}-form">
                                <table cellspacing="0">
                                    {#{{ child.form.as_table() }}#}
                                    <tr>
                                        <th></th>
                                        <td>
                                            <input type="submit" value="Add {{ name|humanize }}">
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}